#nav-bar .logo_menu{
    display: flex;
    background-color: #C8007F;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.logo{
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: flex-start;
    padding: 1px;
}

.menu{
    display: flex;
    width: 50px;
    height: 50px;
    color: white;
    justify-content: flex-end;
    padding: 1px;
}



.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 333;
}
.closeicon{
    color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10%;
    right: 20px;
}
.menuitems-overlay{
    background-color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Inter', sans-serif;

}

.menuitems-overlay li{
    list-style: none;
    border-bottom: 0.2px solid rgb(197,197,197);
    background-color: #fff;
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
.menuitems-overlay a{
    text-decoration: none;
    color: #000;
    font-size: 28px;
}
.nav_bar{
    display: none;
}
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #C8007F;
    width: 100%;
    height: 10%;
    display:none;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}


/* Styling the list */
.nav-bar ul{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    gap: 15px;
    padding: 0 1rem;

}

/* style the anchor portion */
.nav-bar a{
    text-decoration: none;
    color: rgb(250,250,250);
}
.nav-bar a:active{
  color: rgb(250,0,0);
}
@media all and (min-width: 601px) and (max-width: 900px){
    .logo{
        width: 90px;
        height: 90px;
    }
    .menu{
        display: none;
    
    }
    #nav-bar{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #C8007F;
        width: 100%;
        height: 10%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
   
    #nav-bar .nav_bar {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        gap: 10px;
        padding: 10px;
    }
    .nav_bar a{
        text-decoration: none;
        color: rgb(250,250,250);
    }
    .nav_bar a:active{
        color: rgb(250,0,0);
      }
    
}
@media all and (min-width: 901px) {
    #nav-bar{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #C8007F;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    /* Styling the list */
    #nav-bar ul{
        list-style: none;
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        gap: 15px;
        padding: 0px 4px 7px;
    
    }
   
    /* style the anchor portion */
    #nav-bar a{
        text-decoration: none;
        color: rgb(250,250,250);
    }
    #nav-bar a:active{
      color: rgb(250,0,0);
    }
    /* Setting properties to hover the anchor element so it will respond according to the properties set */
    #nav-bar a:hover{
        background-color: rgb(0,0,250);
        padding: 10px 15px;
    }
    .logo{
        width: 65px;
        height: 65px;
        justify-content: flex-start;
    }
    .menu{
        display: none;
    }
}