.projects {
    padding:10px 0 0;
    text-align: center;
}
.projects h1{
    font-size: 20px;
}
.projects p{
    font-size: 12px;
    padding: 0 20px;
}
.excel_project h2{
    padding: 20px;
    font-size: 18px;
    text-align: center;
   }
   .excel_project ol{
    list-style-type: '1.)';
    text-align: center;
    font-size: 16px;
    padding: 0  125px;
   }
   .excel_project p{
    text-align: center;
    font-size: 12px;
    padding: 0 20px;
   }
   .excel_project a{
    display: flex;
    justify-content: center;
    font-size: 12px;
   }
   .excel_project .tools{
    font-size: 12px;
    padding: 0 50px 5px;
   }
   .excel_project span{
    color: #C8007F;
   }
.excel{
    display: flex;
    margin: 0 auto;
    width: 350px;
    height: 250px;
    padding: 10px 0;
   }
   .code_project h2{
    padding: 20px;
    font-size: 18px;
    text-align: center;
   }
   .code_project ol{
    list-style-type: '2.)';
    text-align: center;
    font-size: 16px;
    padding: 0  130px;
   }
   .code_project p{
    text-align: center;
    font-size: 12px;
    padding: 0 20px;
   }
   .code_project a{
    display: flex;
    justify-content: center;
    font-size: 12px;
   }
   .code_project .tools{
    font-size: 12px;
    padding: 0 50px 5px;
   }
   .code_project span{
    color: #C8007F;
   }
   .code{
    display: flex;
    margin: 0 auto;
    width: 350px;
    height: 250px;
    padding: 10px 0;
   }
   .copy_project h2{
    padding: 20px;
    font-size: 18px;
    text-align: center;
   }
   .copy_project ol{
    list-style-type: '3.)';
    text-align: center;
    font-size: 16px;
    padding: 0  140px;
   }
   .copy_project p{
    text-align: center;
    font-size: 12px;
    padding: 0 20px;
   }
   .copy_project a{
    display: flex;
    justify-content: center;
    font-size: 12px;
   }
   .copy_project .tools{
    font-size: 12px;
    padding: 0 50px 5px;
   }
   .copy_project span{
    color: #C8007F;
   }
   .copy{
    display: flex;
    margin: 0 auto;
    width: 350px;
    height: 250px;
    padding: 10px 0;
   }
   .digraph_project h2{
    padding: 20px;
    font-size: 18px;
    text-align: center;
   }
   .digraph_project ol{
    list-style-type: '4.)';
    text-align: center;
    font-size: 16px;
    padding: 0  125px;
   }
   .digraph_project p{
    text-align: center;
    font-size: 12px;
    padding: 0 20px;
   }
   .digraph_project a{
    display: flex;
    justify-content: center;
    font-size: 12px;
   }
   .digraph_project .tools{
    font-size: 12px;
    padding: 0 50px 5px;
   }
   .digraph_project span{
    color: #C8007F;
   }
   .digraph{
    display: flex;
    margin: 0 auto;
    width: 350px;
    height: 200px;
    padding: 10px 0;
   }
table{
    display: none;
}
@media all and (min-width:601px)and (max-width:900px){
    .excel_project{
        display: none;
       }
       .code_project{
        display: none;
       }
       .copy_project{
        display: none;
       }
       .digraph_project{
        display: none;
       }

}
   /* Styling the project page */
   @media all and (min-width:901px){
   .projects{
    padding: 5rem 0 0;
    text-align: center;
   }
   .projects p{
line-height: 1.5;
   }
   .excel_project{
    display: none;
   }
   .code_project{
    display: none;
   }
   .copy_project{
    display: none;
   }
   .digraph_project{
    display: none;
   }
   /* Setting properties for the table tag */
   table{
    display: block;
    border-collapse:collapse ;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 1rem;
    margin: 3rem 2rem 0;
}
table ul{
  list-style: none;
}
caption{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #333;
}
td,th{
    border: 1px solid rgb(190,190,190);
    padding: 10px;
  
}
th{
    background-color: rgb(235,235,235);
}
td{
    text-align: center;
}
tr:nth-child(even) td{
    background-color: rgb(250,250,250);
}
tr:nth-child(odd) td{
    background-color: rgb(250,250,250);
}

tbody{
    font-size: 0.95rem;
    font-style: italic;
}
tbody a{
  text-decoration: underline;
  color: #C8007F;
}
}