
/* Styling the skill page */
@media all and (min-width:901px){
.skills {
    padding: 5rem 0 0 ;
    text-align: center;
    }
    /* Align the progress tag to have two columns */
    .skills2 {
      padding: 5rem 12rem 2rem;
      display: flex;
      flex-direction: row;
      }
    #align2{
      padding: 0 2rem;
    }
    /* Increasing the progress bar width and height */
    progress{
      width: 30rem;
      height: 2rem;
    }
    .html {
     padding-left: 20rem;
    }
    
    .css {
      padding: 0 12rem;
    }
    .javascript {
      padding: 0 8rem;
    }
    .python {
      padding: 0 9rem;
    }
    .vs_code {
      padding: 0 16rem;
    }
    .git{
      padding: 0 20rem;
    }
    .github{
      padding: 0 18rem;
    }
    .bootstrap{
      padding: 0 0.3rem;
    }
    /* Styling the multimedia page */
  }